apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: myapps
spec:
  generators:
  - pullRequest:
      github:
        # The GitHub organization or user.
        owner: umi0410
        # The Github repository
        repo: argocd-applicationset-demo
        # For GitHub Enterprise (optional)
#        api: https://git.example.com/
        # Reference to a Secret containing an access token. (optional)
#        tokenRef:
#          secretName: github-token
#          key: token
        # Labels is used to filter the PRs that you want to target. (optional)
        labels:
        - deploy
      requeueAfterSeconds: 15 # 1800 by default
  template:
    metadata:
      name: 'ping-go-{{branch}}-{{number}}'
    spec:
      source:
        repoURL: 'https://github.com/umi0410/argocd-applicationset-demo.git'
        targetRevision: '{{head_sha}}'
        path: helm/
        helm:
          parameters:
            - name: "suffix"
              value: "-{{head_sha}}"
      project: default
      destination:
        server: https://kubernetes.default.svc
        namespace: default