name: Go

on:
#  push: {}
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18

    - name: Build
      run: go build -v ./...

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{secrets.DOCKERHUB_USERNAME}}
        password: ${{secrets.DOCKERHUB_PASSWORD}}

    - name: build and release to DockerHub
      run: |
        docker build  . -t umi0410/ping-go:${{ env.GITHUB_SHA }}
        docker push umi0410/ping-go:${{ env.GITHUB_SHA }}